@charset "UTF-8";
.btn{
	text-align: center;
	display : block;
	width:100px;
	height:40px;
	border:1px solid white;
	border-radius:15px;
	/* box-shadow:5px 5px 5px red; */
	margin:0 auto;
	text-decoration: none;
	font-weight: bold;
	}